.results-wrapper {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  @media only screen and (max-width: 1000px) {
    width: 100%;
  }
}

.results-text {
  color: #1d71f2;
  font-weight: 900;
  font-size: 28px;
  text-align: center;
}

.results-filter {
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
  color: #1c9cf6;
  font-weight: bold;
  font-size: 18px;
}
